.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px;
}

.input {
    max-width: 150px;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.searchNav input {
  width: 100%;
  height: 36px;
  padding-left: 10px;
  border: 2px solid #FB2E86;
  border-radius: 5px;
  outline: none;
  color: #5c5b5b;
  background: #F2F0FF;
}

.searchNav button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 40px;
  border: none;
  background: #FB2E86;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchNav button:before {
  font-size: 16px;
  color: #F9F0DA;
}